body{
margin: 0;
padding: 0;
font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
height: auto;
width: 100%;
}
html{
    scroll-behavior: smooth;
}
/* #2a52be-plava, #cfcfcd-siva, #645244-smedja */
#header{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #645244;
    cursor: default;
}
#nav{
    height: 100px;
    background-color: #cfcfcd;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    top: 0;
    position: sticky;
    cursor:default;
    width: 100%;
    transition: 1s;
}
#nav:hover{
    cursor:default;
    transition: 1s;
    height: 150px;
}
#nav:hover .button1{
    font-size: 40px;
    transition: 1s;
    width: 250px;
    height: 100px;
}
.button1{
    height: 50px;
    width: 150px;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    font-size: 30px;
    font-weight: bold;
    border: 0;
    background-color: transparent;
    color: #645244;
}
.button1:hover{
    color: white;
    background-color: #645244;
    transition: 1s;
    cursor: pointer;
}
.button1:first-child{
    z-index: 150vh;
}
.button1 a{
    color: #645244;
    text-decoration: 0;
}
.button1 a:hover{
    color: white;
    transition: 1s;
    cursor: pointer;
}
#main1{
margin: 0 5%;
display: flex;
justify-content: center;
align-items: center;
height: 695px;
font-size: 80px;
}
#main1 img{
    height: 500px;
}
#main1kvadrat{
    width: 330px;
    padding: 40px 40px 0 0 ;
    height: 500px;
    border-top: 15px solid #2a52be;
    border-right: 15px solid #2a52be;
    overflow:hidden;

}

#maintext{
    color: #2a52be;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    cursor: default;
    border-left: 15px solid #2a52be;
    border-bottom: 15px solid #2a52be;
    height: 550px;
    padding-left: 50px;
    align-items: end;
    width: 385px;
    margin-top: 30px;
    align-items: start;
}
#alija{
    margin-top: 350px;

}
#main2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
#text2{
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
}
#main2text1{
    font-size: 40px;
    text-align: center;
}
#glavnihr{
    width: 90%;
    margin: 0 5%;
    padding: 0;
    border: 1px black solid;

}
#main3{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 5%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

#main4text{
    text-align: right;
    color: #2a52be;
}

#classichr{
    width: 100%;
    margin: 0;
    margin-top: 20px;
}
#corel img{
    width: 400px;
}
#corel{
    transition: 1s;
    height: 460px;
    width: 400px;
    display: flex;
}
#corel:hover{
    transition: 1s;
    margin: 0 50px 0px 0px;
    width: 800px;
}
#insidecorel{
    width: 400px;
    height: 460px;
    background-color:#cfcfcd;
    align-items: center;
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
#insidecorel button{
    width: 150px;
    height: 70px;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    font-size: 20px;
    background-color:#645244;
    color: white;
    border: none;
    transition: 1s;
    cursor: pointer;
}
#insidecorel button a{
    text-decoration: none;
    color: white;
}
#corel:hover img + #insidecorel{
    display: flex;
    transition: 1s;
}
#c img{
    width: 400px;
}
#c{
    transition: 1s;
    height: 460px;
    width: 400px;
    display: flex;
    flex-direction: row-reverse;
}
#c:hover{
    transition: 1s;
    margin: 0 50px 0px 0px;
    width: 800px;
}
#insidec{
    width: 400px;
    height: 460px;
    background-color:#cfcfcd;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    padding: 0 20px;
    text-align: center;
}
#c:hover img +#insidec{
    display: flex;
}
.main3button{
    width: 300px;
    font-size: 20px;
    background-color: #645244;
    color: white;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
    border: none;
    margin-top: 20px;
    height: 80px;
    padding:0 40px;
    cursor: pointer;
}
.main3button a{
    text-decoration: none;
    color: white;
}
#main4{
    width: 90%;
    margin: 0 5%;
    margin-bottom: 5%;
    height: 100vh;
    padding: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
#main4right{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main4left{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#main4left img{
    width: 40%;
}
#main4naslov{
    font-size: 50px;
    text-align: right;
}
.main4text{
    width: 90%;
    font-size: 20px;
    text-align: right;
}
#main4left{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
#main5{
    height: 100vh;
    width: 90%;
    margin: 0 5%;
    padding-top: 120px;
}
#main5naslov{
    font-size: 50px;
    text-align: center;
}
#main5text{
    font-size: 25px;
    text-align: center;
}
#main5pics{
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
#main5pics img{
    height: 400px;
}
#main6{
    width: 90%;
    margin: 0 5%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#main6naslov{
    margin: 200px 0 100px 0;
    font-size: 50px;
    text-align: center;
}
#main6text{
    width: 90%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
}
#download{
    padding: 20px 30px;
    background-color: #2a52be;
    color: white;
    cursor: pointer;
    margin: 20px 0 0 0;
}
#download a{
    font-size: 30px;
    font-family:'Cascadia Code', Consolas, 'Courier New', monospace;
    color: white;
    text-decoration: none;
}
#main7{
    width: 90%;
    margin: 0 5%;
    height: 90vh;
    padding: 120px 0 0 0;    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main7div{
    width: 45%;
    height: 15%;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    justify-content: start;
    border-bottom: 1px solid #2a52be;
}
.main7div:last-child{
    width: 90%;
    justify-content: center;
    border-bottom: 0;
}
.main7div:last-child img{
    justify-content: center;
    margin-right: 0;
}
.main7div img{
    height: 80%; 
    margin-right: 50px;
}
.main7diveven{
    width: 45%;
    height: 15%;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    font-size: 30px;
    justify-content: end;
    border-bottom: 1px solid #2a52be;
}
.main7diveven img{
    height: 80%; 
    margin-left: 50px;
}
/*
Nisam znao dimenzije za responzivnost, ukucao sam na google i prvi link koji je izasao, te sam dimenzije uzeo. Nisam se na to
fokusirao iz razloga sto mislim da dimenzije u ovom slucaju nisu toliko bitne, vec da je bitno da li mi to znamo uraditi ili ne.
Nadam se da nece biti problem
*/
@media only screen and (max-width: 767px) {
    #main1{
        flex-direction: column-reverse;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    #maintext{
        height: 20%;
        padding-bottom: 10%;
    }
    #maintext h{
        margin: 0 0 0 0;
    }
    #main5pics{
        display: flex;
        flex-direction: column;
    }
    #main5pics img{
        margin-bottom: 100px;
    }
    #nav{
        flex-wrap: wrap;
    }
    #main2{
        margin-top: 25%;
        margin-bottom: 30%;
    }
    #main3{
        margin-top: 20%;
        display:flex;
        flex-wrap: wrap;
    }
    #main3 img{
        height: 70%;
        width: 70%;
        justify-content: center;
    }
    #main4{
        margin-bottom: 50%;
    }
    #main4left{
        flex-direction: column;
        width: 80%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    #maein4left img{
        margin-top: 5%;
    }
    #main5{
        margin-bottom: 90%;
    }
    #main6{
        margin-bottom:40% ;
    }
    #main7{
        flex-direction: column;
        align-items: center;
    }
    .main7div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .main7diveven{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .main7div:last-child{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5%;
        padding: 0;
        width: 90%;
        text-align: center;
    }
    #nav:hover{
        height: 80%;
    }
  }
  /*Responzivnost za tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #main1{
        flex-direction: column-reverse;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    #maintext{
        height: 20%;
        padding-bottom: 10%;
    }
    #maintext h{
        margin: 0 0 0 0;
    }
    #main5pics{
        display: flex;
        flex-direction: column;
    }
    #main5pics img{
        margin-bottom: 100px;
    }
    #nav{
        flex-wrap: wrap;
    }
    #main2{
        margin-top: 25%;
        margin-bottom: 30%;
    }
    #main3{
        margin-top: 20%;
        display:flex;
        flex-wrap: wrap;
    }
    #main3 img{
        height: 70%;
        width: 70%;
        justify-content: center;
    }
    #main4{
        margin-bottom: 50%;
    }
    #main4left{
        flex-direction: column;
        width: 80%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    #maein4left img{
        margin-top: 5%;
    }
    #main5{
        margin-bottom: 90%;
    }
    #main6{
        margin-bottom:40% ;
    }
    #main7{
        flex-direction: column;
        align-items: center;
    }
    .main7div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .main7diveven{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .main7div:last-child{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5%;
        padding: 0;
        width: 90%;
        text-align: center;
    }
    #nav:hover{
        height: 80%;
    }
  }


